body{
	background: #FFC4C4;
	font-family: 'Nunito', sans-serif;
}

.burb h2{
	color: #ea1c2c;
}

.burb p{
	color: #f498b8;
	line-height: 2rem;
}

.content{
	margin-top: 50px;
}

 #mainNavbar{
 	font-size: 1.5rem;
	font-weight: 100;
 }

#mainNavbar .navbar-brand{
	color: #ea1c2c;
	font-size: 1.5rem;
}

#mainNavbar .nav-link{
	color: #ffffff;
}

#mainNavbar .nav-link:hover{
	color: #A10035;
}

#headingGroup span{
	color: #ea1c2c;
}

#headingGroup h2{
    font-weight: 100;
    font-size: 3.8rem;
}

@media (max-width: 1300px){
	#headingGroup h2{
       font-weight: 100;
       font-size: 3rem;
    }
}

